<div class="row-fluid">
  <div class="span6 offset5">
    <div class="form-page">

      <h1>You're here in error :(</h1>
      <h2>Sorry about that! If you are trying to create a worker account, please contact the Steer Clear administrator</h2>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
