<div class="row-fluid">
  <h1>Active Ride Request Details</h1>
  <h2><i>Update Your Ride Request Below</i></h2>
  <!--Add eta here eventually-->
  <%= render "ride_request/elements/rideRequestForm" %>

  <h2>Cancel Your Active Ride Request</h2>
  <%= render "ride_request/elements/deleteRideRequestForm" %>

</div>
