<!-- main user page that shows active ride requests, old ride requests, and form to create new ride request -->
<!-- use .js for all form submission and coffeescript for showing/hiding tables -->

<div class="row-fluid">
  <div class="span10 offset3">
    <h1><%= current_user.name %>'s Ride Requests</h1>

    <h1>Create a new Ride Request</h1>

    <h1>Active Ride Requests</h1>

    <h1>Past Ride Requests</h1>

  </div>
</div>