//alert("Shift started!")

//$("#noShift").slideToggle("fast");
$("#noShift").html('<h1>Shift started at <%= @shift.created_at %></h1>');
//$("#noShift").slideToggle("fast");
$("#shiftStarted").show();