<div class="span10 offset3">
  <h1>About Steer Clear</h1>

  <span class="content">Steer Clear is a safe-ride program for the College of William and Mary students that provides a reliable, secure
    and <b>free</b> means of travel for students on weekend nights when school is in session. </span>
  <span class="content">The organization aims to reduce risky behavior, namely driving under the influence and traveling unescorted during late hours. </span>

  <h2><a href="/ConstitutionBylaws.pdf">Constitution and Bylaws</a></h2>


  <h1>Hours of Operation</h1>
  <h2>Every Thursday/Friday/Saturday when school is in session</h2>
  <h2><b>Thursday Nights 10:30PM - 1:30AM </b></h2>
  <h2><b>Friday and Saturday Night 9:30PM - 2:30AM </b></h2>



  <h1>Steer Clear Executive Board</h1>
  <span class="content">
    <div class="span10 offset2">
      <ul>
        <li><i>Director:</i> Mark Moran</li>
        <li><i>Assistant Director of Administration:</i> Alexi Farmakis</li>
        <li><i>Assistant Director of Operations:</i> Chris Dong</li>
        <li><i>Assistant Director of Technology:</i> Nathan Schaaf</li>
        <li><i>Public Relations Chair:</i> Taelor Salmon and Catherine Shaughnessy</li>
        <li><i>Scheduling Chair:</i> Connor Barrett</li>
        <li><i>Operations Chair:</i> DJ Haskin</li>
        <li><i>Treasurer:</i> Jeffrey Knox</li>
        <li><i>Outreach Chair:</i> Michelle Goss</li>
      </ul>
    </div>
  </span>

  <h1>Job Opportunities</h1>
  <span class="content">Hiring, if needed, occurs at the begining of each semester. </span>
  <span class="content">Contact <a href="mailto:steerclear@email.wm.edu">steerclear@email.wm.edu</a> with any inquiries!</span>

  <h1>Steer Clear Web App</h1>

  <span class="content"> The Steer Clear Ride Request web application was developed using the <a href="http://rubyonrails.org/">Ruby on Rails</a> framework by WM graduate students Philip Steele and Alex Atkins. </span>
  <span class="content"> This is an open source project, and this implementation is free to use by the WM community for the Steer Clear service.  </span>
  <span class="content"> Our code is available at <a href="https://github.com/pdsteele/steerclear">https://github.com/pdsteele/steerclear</a>.</span>

  <h2>Data Collection</h2>
  <span class="content"> The ride request data collected using this application will be anonymized and used for research to help improve the Steer Clear service. </span>
  <span class="content"> Data used for this research includes the ride request time, pick-up location, drop-off location, the size of your party, and the approximate time you were picked up. </span>
  <span class="content"> If you do not agree with this usage, please contact Steer Clear (<a href="mailto:steerclear@email.wm.edu">steerclear@email.wm.edu</a>) after your ride to request exclusion from the research.  </span>

  <h2>Opportunities for Experience</h2>
  <span class="content">We are currently seeking motivated computer science students (or anyone strongly interested in web development) to help with our development, testing, and maintenance process! Ruby on Rails <a href="http://ruby.railstutorial.org/">knowledge</a> strongly preferred!</span>
  <span class="content">We are also seeking applied mathematics students to assist with research. Strong knowledge/interest of R, C, algorithm design, and search heuristics is desired. </span>
  <span class="content">These are great ways to apply your skills, gain experience, and participate in interesting research!   </span>
  <span class="content">Since this research/development effort is a labor of love that we do for free ourselves, we cannot offer compensation for your participation.    </span>

  <span class="content">Contact Philip Steele if you are interested in any of these positions. </span>

  <h2>Web App Contributors</h2>
  <span class="content"><b><i>Project Manager and Lead Developer:</i></b> <br> Philip Steele || MS Computational Operations Research 2014 || BA Economics, Minor Mathematics 2012 || Contact at <a href="mailto:pdsteele@wm.edu">pdsteele@wm.edu</a></span>
  <span class="content"><b><i>Developer and Server Administrator:</i></b> <br> Alex Atkins || MS Public Policy 2015 || BA IR 2013 || Contact at <a href="mailto:abatkins@email.wm.edu">abatkins@email.wm.edu</a> </span>
  <span class="content"><b><i>Lead Tester:</i></b> You?! Email <a href="mailto:pdsteele@wm.edu">Philip</a> if interested!</span>
  <span class="content"><b><i>Research Assistant:</i></b> Seeking one for Fall 2013! May be able to work with Math Department for Independent Study credits. Email <a href="mailto:pdsteele@wm.edu">Philip</a> if interested. </span>

</div>