<div class="span10 offset3">
  <h1>About Steer Clear</h1>
  <span class="content">
    Steer Clear is a safe-ride program for the College of William and Mary students that provides a reliable, secure
    and <b>free</b> means of travel for students on weekend nights when school is in session. The organization aims to
    reduce risky behavior, namely driving under the influence and traveling unescorted during late hours.</span>

  <h1>Steer Clear operates: </h1>
  <h2><b>Thursday Nights 10:30PM - 1:30AM </b></h2>
  <h2><b>Friday and Saturday Night 9:30PM - 2:30AM </b></h2>



  <h1>About the Steer Clear Web Application</h1>


</div>