<div class="span10 offset3">

  <h1 id="frontPage">Contact us</h1>

  <h1>Old School Phone Line</h1>
  <h2>(757)-221-3748</h2>

  <h1>General Questions/Suggestions/Comments</h1>
  <h2>Send an Email at <a href="mailto:steerclear@email.wm.edu">steerclear@email.wm.edu</a></h2>
  <h2>Submit Suggestions <a href="http://www.suggestionox.com/response/W0A2Lb">here</a></h2>

  <h1>Lost and Found</h1>
  <h2>Contact DJ Haskin at <a href="mailto:dehaskin@email.wm.edu?Subject=Lost%20and%20Found">dehaskin@email.wm.edu</a></h2>

  <h1>Donations</h1>
  <h2>Contact Jeff Knox at <a href="mailto:jsknox@email.wm.edu?Subject=Steer%20Clear%20Donations">jsknox@email.wm.edu</a></h2>

  <h1>Social Media</h1>
  <h2><a href="http://www.facebook.com/album.php?profile&id=7610431#/group.php?gid=7815369671">Join the Facebook Group!</a></h2>
  <h2><a href="https://twitter.com/#!/SteerClearWM">Follow Us on Twitter @SteerClearWM!</a></h2>

  <h1>Steer Clear Web Application Developers</h1>
  <h2><b><i>General Questions, Requests, and Comments:</i></b></h2>
  <h2>Contact <a href="mailto:pdsteele@wm.edu">pdsteele@wm.edu</a></h2>

  <h2><b><i>Network Issues:</i></b></h2>
  <h2>Contact <a href="mailto:abatkins@email.wm.edu">abatkins@email.wm.edu</a> </h2>


</div>
