<div class="span10 offset3">
  <h1>Employee Documents</h1>

  <h2><a href="/HiringContract.doc">Employee Hiring Contract</a></h2>

  <h2><a href="/TrainingEmploymentPacket2012-13.docx">New Employee Packet</a></h2>

  <h2><a href="/PayrollProcess2012.doc">Payroll Information</a></h2>
</div>