<div class="span6 offset5">
  <h1 id="staticPage">Steer Clear Employees</h1>

  <h2><%= link_to "Worker login page", "/workers/sign_in" %></h2>

  <h2><a href="/HiringContract.doc">Employee Hiring Contract</a></h2>

  <h2><a href="/TrainingEmploymentPacket2012-13.docx">New Employee Packet</a></h2>

  <h2><a href="/PayrollProcess2012.doc">Payroll Information</a></h2>

  <h1 id="staticPage">Steer Clear Job Opportunities</h1>
  <span class="content">Hiring, if needed, occurs at the begining of each semester. </span>
  <span class="content">Contact <a href="mailto:steerclear@email.wm.edu">steerclear@email.wm.edu</a> with any inquiries!</span>
  <span class="content"><small>*(Web developers and computer science students should check out details about this web application on the about page for information about opportunities to contribute)</small></span>



</div>