<div class="form-page btn btn-large btn-primary button">
  <%= link_to "Stop Accepting Rides", { :controller=>"shifts", :action => "makeOffService", :id => current_worker.currentShift.id }, :method => :put, :remote => "true" %>
</div>