<div class="row-fluid">
  <h1>Shift started at <%= @shift.created_at.to_formatted_s("%b %d %Y %H:%M") %></h1>
</div>

<div class="row-fluid">
  <div id="becomeActive">
    <h1>Begin Accepting Rides?</h1>
  </div>
</div>

<div class="row-fluid">
  <div id="becomeInactive">

  </div>
</div>

<div class="row-fluid">
  <div id="createRideRequest">
    <h1>Create a Ride Request</h1>
  </div>
</div>

<div class="row-fluid">
  <div id="acceptedRequests">

  </div>
</div>

<div class="row-fluid">
  <div id="currentQueue">
    <h1>Current Ride Request Queue</h1>
  </div>
</div>

<div class="row-fluid">
  <div id="endShift">
     <h1>End This Shift</h1>
  </div>
</div>

