<!-- main user page that shows active ride requests, old ride requests, and form to create new ride request -->
<!-- use .js for all form submission and coffeescript for showing/hiding tables -->
<div class="span10 offset3">

  <div class="row-fluid">
    <h1><%= current_worker.name %>'s Dashboard</h1>
  </div>

  <% if current_worker.activeShift == false %>
      <!-- render nonactive shift page -->
      <%= render "notStarted" %>

  <% elsif current_worker.currentShift.inService == false  %>
      <!-- render shift started but not active page -->
      <%= render "startedNotActive" %>

  <% elsif current_worker.currentShift.inService == true %>
      <!-- render the active shift page -->
      <%= render "startedActive" %>

  <% end %>


</div>