<small>
  WM Steer Clear
</small>
<nav>
  <ul>
    <li><%= link_to "About Us",   'pages#about' %></li>
    <li><%= link_to "Contact Us", 'pages#contact' %></li>
    <li><a href="http://wm.edu/">WM</a></li>
  </ul>
</nav>